/* ---------------------Science Laboratory----------------- */
.sl-mob{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size: 30px;
    font-weight: 900;
    color: red;
}

.bar{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    position: relative;
}
.bar p{
    border-bottom: 2px solid grey;
    width: 80%;
}
.bar img{
    position: absolute;
    width: 50px;
    top: -23px;
}

#science-lab{
    margin-bottom: 70px;
}
.science-lab-img{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    text-align: center;
}

.lab1 img{
    width: 95%;
    border: 5px solid #27cf11;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.lab1 p{
    font-size: 20px;
    color: rgb(17, 49, 164);
    font-weight: 600;
}
.lab2{
    position: relative;
}
.lab2 img{
    width: 95%;
    border: 5px solid #27cf11;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.lab2 p{
    font-size: 20px;
    color: rgb(17, 49, 164);
    font-weight: 600;
}
.fac-desc{
    color: black;
    text-align: justify;
    padding: 5px 115px 30px 115px;
    font-size: 20px;
}
.protect{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 5px 0 50px 0;
}
.protect img{
    width: 20%;
}
.protect-desc{
    width: 60%;
    padding: 5px 40px 10px 40px;
    margin-left: 20px;
    border-top: 2px solid #27cf11;
    border-bottom: 2px solid #27cf11;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.protect-desc h4{
    text-align: center;
    color: rgb(17, 49, 164);
    font-size: 25px;
}
.protect-desc p{
    text-align: justify;
    font-size: 18px;
}
.sci-btn{
    text-align: center;
    font-size: 17px;
}
.sci-btn a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 1px solid blue;
}
.sci-btn a:hover{
    background-color: #27cf11;
    color: yellow;
    border: 1px solid red;
}

/* ---------------------Computer Laboratory----------------- */
#computer-lab h3{
    text-align: center;
    font-size: 50px;
    font-family: Edwardian Script ITC;
    color: rgb(17, 49, 164);
}
.comp-cont-1{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}
.comp-cont-11,
.comp-cont-12{
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: center;
    width: 40%;
    margin: 10px 30px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.3s;
}
.comp-cont-11:hover,
.comp-cont-12:hover{
    box-shadow: 0 8px 16px 0 #27cf11;
}
.comp-cont-11 img,
.comp-cont-12 img{
    width: 60%;
    border: 5px solid #27cf11;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 50px 0px 50px 0px;
    -webkit-border-radius: 50px 0px 50px 0px;
    -moz-border-radius: 50px 0px 50px 0px;
    -ms-border-radius: 50px 0px 50px 0px;
    -o-border-radius: 50px 0px 50px 0px;
}
.comp-cont-11 p,
.comp-cont-12 p{
    text-align: justify;
    padding: 10px 30px;
    margin-bottom: 20px;
}
.comp-cont-2{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 30px 0;
}
.comp-cont-2 img{
    width: 50%;
}
.cont-2-desc{
    width: 40%;
    border-top: 2px solid #27cf11;
    border-bottom: 2px solid #27cf11;
    border-left: 5px solid #27cf11;
}
.cont-2-desc h4{
    text-align: center;
    padding: 5px;
    color: rgb(17, 49, 164);
    font-size: 18px;
}
.cont-2-desc p{
    padding: 5px 20px;
    text-align: justify;
}
.writ-btn{
    text-align: center;
    font-size: 17px;
    margin-bottom: 90px;
}
.writ-btn a{
    text-decoration: none;
    background-color: red;
    color: white;
    padding: 10px 20px;
    border: 1px solid blue;
}
.writ-btn a:hover{
    background-color: #27cf11;
    color: yellow;
    border: 1px solid red;
}

/* ---------------------Redeemer Dormitories----------------- */
.dorm1{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.dorm1-img1, .dorm1-img2, .dorm1-img3{
    width: 30%;
    text-align: center;
    color: rgb(17, 49, 164);
    font-size: 20px;
}
.dorm1-img1 img, .dorm1-img2 img, .dorm1-img3 img{
    width: 100%;
}
.dorm-desc{
    text-align: justify;
    font-size: 18px;
    padding: 20px 100px 20px 100px;
}

.dorm3{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 30px;
}
.dorm3-img{
    width: 30%;
    text-align: center;
    color: rgb(17, 49, 164);
    font-size: 20px;
}
.dorm3-img img{
    width: 100%;
}
.dorm3-desc{
    width: 60%;
    text-align: justify;
    margin: 0px 20px 0px 20px;
    padding: 2px 30px 5px 30px;
    font-size: 20px;
    border-bottom: 2px solid #27cf11;
    border-right: 2px solid #27cf11;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
.dorm3-desc h3{
    text-align: center;
    color: red;
    font-size: 40px;
    padding-bottom: 10px;
    font-family: Vivaldi;
}
/* ---------------------Redeemer Dinning Hall----------------- */

.din-hall{
    display: flex;
    justify-content: center;
}
.din-hall p{
    width: 30%;
    background-color: #27cf11;
    padding: 20px;
    color: white;
    font-size: 17px;
}
.din-hall img{
    width: 50%;
}
#dinning h3{
    text-align: center;
    font-size: 50px;
    font-family: Edwardian Script ITC;
    color: rgb(17, 49, 164);
}
.din-desc{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.p1{
    width: 60%;
    padding: 10px;
    font-size: 18px;
}
.p2{
    width: 20%;
    margin-left: 10px;
    border: 5px solid #27cf11;
    border-radius: 30px;
    padding: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    color: rgb(17, 49, 164);
}

/* ---------------------More Facilities----------------- */

.more-fac-cont{
    margin-bottom: 30px;
}
.mySlides {
    display: none
}

.pac{
    display: flex;
    width: 100%;
    justify-content: center;
}

img {
    vertical-align: middle;
}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}
.slideshow-container img{
    width: 45%;
}
.img-desc{
    width: 35%;
    padding: 25px;
    font-size: 18px;
    text-align: justify;
    border-top: 2px solid #27cf11;
    border-right: 2px solid #27cf11;
    border-bottom: 2px solid #27cf11;
}
.img-desc h3{
    text-align: center;
    color: rgb(17, 49, 164);
    font-size: 25px;
}





/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 45%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: #27cf11;
  font-weight: bold;
  font-size: 50px;
  transition: 0.6s ease;
  user-select: none;
}
.prev{
    left: 80px;
    border-radius: 30px 0px 0px 30px;
    -webkit-border-radius: 30px 0px 0px 30px;
    -moz-border-radius: 30px 0px 0px 30px;
    -ms-border-radius: 30px 0px 0px 30px;
    -o-border-radius: 30px 0px 0px 30px;
}


/* Position the "next button" to the right */
.next {
  right: 80px;
  border-radius: 0px 30px 30px 0px;
  -webkit-border-radius: 0px 30px 30px 0px;
  -moz-border-radius: 0px 30px 30px 0px;
  -ms-border-radius: 0px 30px 30px 0px;
  -o-border-radius: 0px 30px 30px 0px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #27cf11;
  color: yellow;
}

/* Caption text */
.text {
  color: white;
  font-size: 25px;
  font-weight: 700;
  padding: 2px 12px;
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 45%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}

/* Number text (1/3 etc) */
.numbertext {
  color: rgb(17, 49, 164);
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
  left: 160px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

 .dot:hover {
  background-color: yellow;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}




/* ---------------------Mobile Display----------------- */
@media(max-width:320px) {
    .fac-desc{
        padding: 5px 15px 30px 15px;
        text-align: center;
    }
    .lab1 img, .lab2 img{
        width: 90%;
    }
    .lab1 p, .lab2 p{
        font-size: 20px;
        padding: 2px 20px;
    }
    .sl-mob{
        font-size: 20px;
        font-weight: 300;
        padding: 5px;
    }
    
}

